{% extends "layout.html" %}
{% load static %}

{% block title %} 
    {{ config.display_name }} - Atelier
{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Atelier Pratique - {{ config.display_name }}</h2>
    
    <div class="row mb-4">
        <div class="col-md-6">
            <h3>Objectif de la démonstration</h3>
            <p>Cet atelier vous montre comment entraîner et utiliser un modèle de {{ config.display_name }}.</p>
            <p>Les modèles entraînés dans cet atelier sont utilisés pour faire des classifications basées sur les données saisies par l'utilisateur via un formulaire.</p>
        </div>
        <div class="col-md-6">
            {% for class_id, class_info in config.output_classes.items %}
                <img src="{% static class_info.image %}" width="45%" alt="{{ class_info.label }}" class="m-1">
            {% endfor %}
        </div>
    </div>

    {% if config.demo_pdf %}
    <div>
        <iframe src="{% static config.demo_pdf %}" width="100%" height="600px" style="border: 1px solid #ccc;">
            Ce navigateur ne supporte pas les PDFs. Veuillez le télécharger.
        </iframe>
        <div class="mt-3">
            <a class="btn btn-success col-12 col-md-6 mt-2" href="{% url 'model_form' config.name %}">Tester le modèle</a>
            <a href="{% static config.demo_pdf %}" class="btn btn-primary col-12 col-md-6 mt-2">Télécharger PDF</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}